* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

.titulo1 {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: fantasy;
    background-color: black;
    color: rgb(17, 164, 197);
    text-shadow: 3px 0px 20px rgba(0, 200, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(17, 164, 197);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    margin-top: 0px;
}

.redes_sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.text_contacto {
    display: flex;
    justify-content: center;
    color: rgb(17, 164, 197);
    margin-top: 2px;
}

.titulo-mi{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.descripcion1, .descripcion2 {
    display: grid;
    margin: 40px 0; 
    justify-content: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    background-color: black;
    color: rgb(17, 164, 197);
    width: 100%;
    padding: 40px;
}

.descripcion3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/*Todo esto es para las fotos y textos de los proyectos*/
.text_proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px; 
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 90px;
    width: 100%;
}

.proyecto1, .proyecto2, .proyecto3, .proyecto4 {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50px;
    overflow: hidden;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: rgb(17, 164, 197);
    padding: 20px;
    text-align: center; 
}

.proyecto1 img, .proyecto2 img, .proyecto3 img, .proyecto4 img {
    max-width: 90%;
    max-height: 90%; 
    transition: transform 3s ease;
}

.proyecto1 img:hover, .proyecto2 img:hover, .proyecto3 img:hover, .proyecto4 img:hover {
    transform: scale(1.1); 
}

.redes_sociales img {
    transition: transform 3s ease;
}

.redes_sociales img:hover {
    transform: scale(1.1); 
}

.texto-google{
    margin-bottom: 10px;
}

.texto-sql{
    margin-bottom: 10px;
}

.text-sql{
    margin-bottom: 100px;
}

.foto-sql{
    margin-bottom: 10px;
}

.texto-youtube{
    margin-bottom: 8px;
}

.text-youtube{
    margin-bottom: 60px;
}

.foto-yout{
    margin-bottom:  14px;
}

.texto-folio{
    margin-bottom: 7px;
}

.text-folio{
    margin-bottom: 110px;
}

.foto-folio{
    margin-bottom: 15px;
}

/* Media Queries */
/* iPhone SE */
@media (min-width: 375px) and (max-width: 667px) {
    .titulo1 h1 {
        color: rgb(17, 164, 197);
    }

    .titulo-formulario{
        margin-top: -60px;
    }

    .formulario {
        max-width: 600px;
        padding: 20px;
    }

    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario textarea {
        max-width: 200px;
    }

    .formulario h4 {
        font-size: 20px; 
    }

    .formulario input[type="submit"] {
        font-size: 16px;
    }

    body {
        color: rgb(17, 164, 197);
    }

    .descripcion2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .proyectos {
        flex-direction: column;
        align-items: center;
    }

    .redes_sociales {
        margin-left: 94px;
        margin-top: -20px;
    }

    .text_proyectos {
        margin-left: 10px;
    }

    .footer {
        color: rgb(17, 164, 197);
        height: 400px;
        flex-direction: column;
        gap: 10px;
    }
}

/* iPad Air*/
@media (min-width: 820px) and (max-width: 1180px) {
    .titulo1 h1 {
        color: rgb(17, 164, 197);
    }
    
    .titulo-formulario{
        margin-top: -95px;
    }

    .formulario {
        max-width: 600px;
        padding: 20px;
    }

    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario textarea {
        max-width: 500px;
    }

    .formulario h4 {
        font-size: 20px; 
    }

    .formulario input[type="submit"] {
        font-size: 16px;
    }
    
    body {
        color: rgb(17, 164, 197);
    }

    .descripcion2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .proyectos {
        color: rgb(17, 164, 197);
    }

    .redes_sociales {
        display: flex;
        margin-bottom: 75px;
    }

    .footer {
        width: 100%;
        height: 280px;
        color: rgb(17, 164, 197);
        flex-direction: column;
        align-items: center;
    }
}

/*Esto es para el boton de cambiar entre modo oscuro/claro */
.boton-cambio {
    position: absolute;
    top: 18px;
    right: 20px;
    padding: 10px 30px;
    background-color: rgb(17, 164, 197);
    color: white;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-family: fantasy;
    z-index: 1000;
    transition: 3s ease;
}

.boton-cambio:hover{
    transform: scale(1.1);
}

/* Modo claro */
body.light-mode {
    background-color: rgb(0, 0, 0);
    color: black;
}

body.light-mode .titulo1 {
    background-color: rgb(194, 189, 189);
    color: black;
}

body.light-mode .descripcion1{
    background-color: rgb(194, 189, 189);
}
body.light-mode .descripcion2{
    background-color: rgb(194, 189, 189);
}
body.light-mode .proyecto1{
    background-color: rgb(194, 189, 189);
}
body.light-mode .proyecto2{
    background-color: rgb(194, 189, 189);
}
body.light-mode .proyecto3{
    background-color: rgb(194, 189, 189);
}
body.light-mode .proyecto4{
    background-color: rgb(194, 189, 189);
}
body.light-mode .footer {
    background-color: rgb(194, 189, 189);
}

body.light-mode .boton-cambio {
    background-color: black;
    color: white;
}

/*para la tabla para el formulario */
.texto-formulario{
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.formulario h4 {
    margin-bottom: 20px;
    font-size: 24px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(17, 164, 197);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #006699;
}

.formulario table {
    width: 100%;
    width: 1000px;
    border-collapse: collapse;
    border: 2px solid #ddd;
    margin: auto;
}

.formulario table td {
    padding: 8px;
}


/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.menu-icono {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.barra {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.menu {
    position: absolute;
    top: 0;
    right: -300px;
    background-color: #ff0000;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.4s;
}

.menu.active {
    right: 0; 
}

.menu ul {
    list-style-type: none;
    padding: 20px;
}

.menu ul li {
    margin-bottom: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #f44336; 
}